<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <img src="img/abtme.jpg" width=236.5 height=315.25 class="center pro-img" alt="">
                <hr class="light">
                <p class="text-faded"> I am a graduate student in Robotics Engineering at Worcester Polytechnic Institute, MA, USA. I completed my Bachelor's degree in Mechanical Engineering from University of Pune, India.</p>
               <a href="#" class="btn btn-default btn-xl">Get Started!</a> 
            </div>
        </div>
    </div>
</section>
