<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <img src="img/abtme.jpg" width=236.5 height=315.25 class="center pro-img" alt="">
                <hr class="dark">
                <p class="text-dark"> I am a graduate student in Robotics Engineering at Worcester Polytechnic Institute, MA, USA. I completed my Bachelor's degree in Mechanical Engineering from University of Pune, India. Prior to my education at WPI, I have worked as a Research and Development Engineer at Robolab Technologies. </p>
       
            </div>
        </div>
    </div>
</section>
