<section id="education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Education</h2>
                
                <hr class="dark">

                <img src="img/WPI.png" width=176 height=71 class="center">
                <p class="text-dark"><b> Worcester Polytechnic Institute, Worcester, MA, USA. </b>
                <br/>
                Master of Science in Robotics Engineering
                <br/>
                GPA: 4.0/4.0</p>

                <h4>------------------------------------------------------------------------------------------------------</h4>
                <img src="img/UOP.jpg" width=300 height=152.5 class="center">
                <p class="text-dark"><b> University of Pune, Pune, MH, India </b>
                <br/>
                Bachelor of Engineering in Mechanical Engineering
                <br/>
                Grade: First Class with Distinction</p>
       
            </div>
        </div>
    </div>
</section>
