<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                

                    <div class="col-lg-4 portfolio-box">
                        <a href="/project1.html" class="portfolio-box">
                        <img  src="img/cv1.jpeg" width=325 class="img-responsive" style="align-self: center" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Computer Vision5
                                    </div>
                                    <div class="project-name">
                                        Scene Recognition Using Transfer Learning
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> Scene Recognition using Transfer Learning </h4>
                    </div>


                    <div class="col-lg-4 portfolio-box">
                        <a href="/project2.html" class="portfolio-box">
                        <img src="img/AI_port.gif" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Artificial Intelligence
                                    </div>
                                    <div class="project-name">
                                        Multi-Robot Maze Mapping
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> Multi-Robot Maze Mapping </h4>
                    </div>


                    <div class="col-lg-4 portfolio-box">
                        <a href="/project3.html" class="portfolio-box">
                        <img src="img/imu.gif" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Foundations of Robotics
                                    </div>
                                    <div class="project-name">
                                        Robot Teleoperation using IMU 
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> Robot Teleoperation using IMU </h4>
                    </div>

                    <br/><br/><br/>

                    <div class="col-lg-4 portfolio-box">
                        <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Motion  Planning
                                    </div>
                                    <div class="project-name">
                                        High Level Motion Planning
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> High Level Motion Planning </h4>
                    </div>


                    <div class="col-lg-4 portfolio-box">
                        <a href="/project5.html" class="portfolio-box">
                        <img src="img/dyn.gif" height=195 width=355  alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Robot Dynamics
                                    </div>
                                    <div class="project-name">
                                        Virtual Haptic Environment
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> Virtual Haptic Environment </h4>
                    </div>


                    <div class="col-lg-4 portfolio-box">
                        <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Robot Control
                                    </div>
                                    <div class="project-name">
                                        Model Predictive Control for Robot Manipulator
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> Model Predictive Control for Robot Manipulator </h4>
                    </div>


                    <div class="col-lg-4 portfolio-box">
                        <a href="/project7.html" class="portfolio-box">
                        <img src="img/mp1.gif" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Motion Planning
                                    </div>
                                    <div class="project-name">
                                        3 Dimensional RRT on Fetch Robot
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> 3 Dimensional RRT on Fetch Robot </h4>
                    </div>


                    <div class="col-lg-4 portfolio-box">
                        <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Robot Control
                                    </div>
                                    <div class="project-name">
                                        Model Predictive Control for Robot Manipulator
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> Model Predictive Control for Robot Manipulator </h4>
                    </div>


                    <div class="col-lg-4 portfolio-box">
                        <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Robot Control
                                    </div>
                                    <div class="project-name">
                                        Model Predictive Control for Robot Manipulator
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h4 class= "project_title text-center"> Model Predictive Control for Robot Manipulator </h4>
                    </div>

                     



                

            </div>
        </div>
    </section>
