<section  class="bg-primary" id="profexp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Professional Experience</h2>
                
                <hr class="dark">

                <img src="img/rob.jpg" width=257 height=257 class="center pro-img">

                <p class="text-dark"><b> <br/>Robolab Technologies, Pune, MH, India </b>
                <br/>
                Research and Development Engineer, July 2016 - June 2017
                <br/>
                <br/>
                <a class="text-dark" href="">Testimonial</a></p>
       
            </div>
        </div>
    </div>
</section>