<!-- Portfolio Modals -->
 {% for post in site.posts %}
    
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.code_link %}
                                    <li>
                                        <strong><a target="_blank"  href="{{ post.code_link }}">Code Repository Link <i class="fa fa-fw fa-github"></i></a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong><a href="javascript:void(0);">{{ post.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Domain:
                                        <strong><a href="javascript:void(0);">{{ post.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
