@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$font-family: 'PT Sans', sans-serif;

$li-padding: 3px;

$red                 : #c0392b;
$blue                : #1199ff;
$purple              : #9b59b6;
$orange              : #ffa500;
$green               : #27ae60;
$background-color: #1a1a1a;
$progressbar-title-color: #282828;

$animation-delay: .7s;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.skills-bar-container{
  ul {
		list-style: none;
		padding-left: 0;
		display: inline;
	} 

  li{
    position: relative;
    width: 100%;
    padding: $li-padding;
    margin-bottom: 10px;
    
    .progressbar-title{
      color: $progressbar-title-color;
      
      h3{
        display: inline-block;
      }
      .percent{
        position: absolute;
        right: $li-padding;
      }
    }// end progressbar-title
    
    .bar-container{
      background: #555;
      position: relative;
      width: 100%;
      height: 10px;
      margin-top: 5px;
      display: block;
      @include border-radius(10px);
      
      .progressbar{
        position:absolute;
        width:0%;
        height: 100%;
        @include border-radius(10px);

        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      #progress-cpp{
        -webkit-animation-name: progress-cpp;
        animation-name: progress-cpp;
        -webkit-animation-delay: $animation-delay;
        animation-delay: $animation-delay;
      }

      #progress-python{
        -webkit-animation-name: progress-python;
        animation-name: progress-python;
        -webkit-animation-delay: $animation-delay*2;
        animation-delay: $animation-delay*2;
      }

      #progress-java{
        -webkit-animation-name: progress-java;
        animation-name: progress-java;
        -webkit-animation-delay:$animation-delay*3;
        animation-delay: $animation-delay*3;
      }

      #progress-javascript{
        -webkit-animation-name: progress-javascript;
        animation-name: progress-javascript;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-ros{
        -webkit-animation-name: progress-ros;
        animation-name: progress-ros;
        -webkit-animation-delay: $animation-delay*2;
        animation-delay: $animation-delay*2;
      }

      #progress-matlab{
        -webkit-animation-name: progress-matlab;
        animation-name: progress-matlab;
        -webkit-animation-delay:$animation-delay*3;
        animation-delay: $animation-delay*3;
      }

      #progress-zmq{
        -webkit-animation-name: progress-zmq;
        animation-name: progress-zmq;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-opencv{
        -webkit-animation-name: progress-opencv;
        animation-name: progress-opencv;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-pcl{
        -webkit-animation-name: progress-pcl;
        animation-name: progress-pcl;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-qt{
        -webkit-animation-name: progress-qt;
        animation-name: progress-qt;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-scikit{
        -webkit-animation-name: progress-scikit;
        animation-name: progress-scikit;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-kerastensor{
        -webkit-animation-name: progress-kerastensor;
        animation-name: progress-kerastensor;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-aws{
        -webkit-animation-name: progress-aws;
        animation-name: progress-aws;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }
    }// end bar-container
  }
}



.progressred{background-color:$red;}
.progressblue{background-color:$blue;}
.progresspurple{background-color:$purple;}
.progressorange{background-color:$orange;}
.progressgreen{background-color:$green;}

@-webkit-keyframes progress-cpp{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-python{0%{width: 0%;} 100%{ width: 75%;}}
@-webkit-keyframes progress-java{0%{width: 0%;} 100%{ width: 40%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-ros{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-matlab{0%{width: 0%;} 100%{ width: 70%;}}
@-webkit-keyframes progress-zmq{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-opencv{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-pcl{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-qt{0%{width: 0%;} 100%{ width: 50%;}}
@-webkit-keyframes progress-scikit{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-kerastensor{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-aws{0%{width: 0%;} 100%{ width: 30%;}}

@-moz-keyframes progress-cpp{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-python{0%{width: 0%;} 100%{ width: 75%;}}
@-moz-keyframes progress-java{0%{width: 0%;} 100%{ width: 40%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-ros{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-matlab{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-zmq{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-opencv{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-pcl{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-qt{0%{width: 0%;} 100%{ width: 50%;}}
@-moz-keyframes progress-scikit{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-kerastensor{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-aws{0%{width: 0%;} 100%{ width: 30%;}}

@keyframes progress-cpp{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-python{0%{width: 0%;} 100%{ width: 75%;}}
@keyframes progress-java{0%{width: 0%;} 100%{ width: 40%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-ros{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-matlab{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-zmq{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-opencv{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-pcl{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-qt{0%{width: 0%;} 100%{ width: 50%;}}
@keyframes progress-scikit{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-kerastensor{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-aws{0%{width: 0%;} 100%{ width: 30%;}}